.nps_popup{
		position: fixed;
		z-index: 99;
		width: 100vw;
		height: 100vh;
		display: none;
	}
	.nps_popup_overlay{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.70);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nps_popup_content{
		width: 40%;
		padding: 20px 0px;
		height: auto;
		background-color: #fff;
	}
	.c_title{
		color: black;
		text-align: center;
		font-size: 30px;
		font-family: sans-serif;
	}
	.c_range_row{
		margin: auto;
		width: 80%;
		height: 100px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.c_button_row{
		margin: auto;
		width: 60%;
		display: flex;
		justify-content: space-around;

	}

	.nps_popup_succes{
		padding: 15px 0px;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 20px;
		color: black;
		font-family: sans-serif;
		display: none;
	}

.shortcode_wrapper{
	width: 95%;
	margin: auto;
	background-color: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.40);
	height: auto;
	padding: 20px 0px;
}
.sc_title{
		color: black;
		text-align: center;
		font-size: 30px;
		font-family: sans-serif;
	}
	.sc_range_row{
		margin: auto;
		width: 70%;
		height: 100px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.sc_button_row{
		margin: auto;
		width: 40%;
		display: flex;
		justify-content: space-around;

	}

	.nps_sc_succes{
		padding: 15px 0px;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 20px;
		color: black;
		font-family: sans-serif;
		display: none;
	}
	.nps_error{
		width: 100%;
		text-align: center;
	}
	.nps_sc_error{
		width: 100%;
		text-align: center;
	}

	.markbox{
		width: 100px;
		height: 50px;
	}
	.mb_input{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
	}

	.mb_label{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
	}

	.detailAnsWrapper{
	width: 98%;
	display: flex;
}
.detailAnsBox{
	width: 100px;
	height: 80px;
	border: 1px solid rgba(23, 44, 79, 0.70);
}
.dab_ans{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dab_count{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

